[Unit]
Description=A4 OpenID Provider
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=a4-openidprovider
Group=a4-openidprovider
WorkingDirectory=/opt/a4services/openidprovider
ExecStart=/opt/a4services/openidprovider/current/server -config /etc/a4s/openidprovider/openidprovider.json
Restart=on-failure
RestartSec=2s
TimeoutStartSec=30s
TimeoutStopSec=30s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/opt/a4services/openidprovider/data
UMask=0077

[Install]
WantedBy=multi-user.target
